*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    background-color: grey;
    /* overflow: scroll; */
}

nav {
    z-index: 200;
    width: 50vw;
    height: 5vh;
    position: fixed;
    top: 1vh;
    left: 47vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.logo {
    width: 10%;
    height: 10%;
}

.right {
    width: 900px;
}

.perso {

    display: flex;
    justify-content: space-around;
    border: 1px red solid;
    height: 50vh;
    width: 100%;

}





.gilyann {


    position: relative;
    border: 1px solid blue;
    width: 400px;
    height: 400px;
    display: flex;
}

.img[src="medias/img/Gilyann.png"] {

    max-height: 100%;
    max-width: 100%;
    width: 80px;

}

.img[src="medias/img/Claire.png"] {

    max-height: 100%;
    max-width: 100%;
    width: 80px;

}

.img[src="medias/img/Lucas.png"] {

    max-height: 100%;
    max-width: 100%;
    width: 80px;

}

.img[src="medias/img/Julianne.png"] {

    max-height: 100%;
    max-width: 100%;
    width: 80px;

}

.claire {
    width: 20%;
    position: relative;
    border: 1px solid green;
    width: 400px;
    height: 400px;
    display: flex;
}




.lucas {
    width: 20%;
    position: relative;
    border: 1px solid yellow;
    width: 400px;
    height: 400px;
    display: flex;
}



.julianne {
    width: 20%;
    position: relative;
    border: 1px solid purple;
    width: 400px;
    height: 400px;
    display: flex;


}

.comptoire {
    background-color: #2FA1D1;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 10vh;
    bottom: 0;
    position: absolute;
}