*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FAF8F8;
    overflow-y: scroll;
}

nav {
    z-index: 200;
    width: 50vw;
    height: 5vh;
    position: fixed;
    top: 1vh;
    left: 47vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.logo {
    width: 10%;
    height: 10%;
}

.right {
    width: 900px;
}

/* nav a {
    color: white;
} */

.personnage {
    display: flex;
    flex-direction: row;
}

.chara {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50%;
    text-align: center;
    margin-top: 100px;

}


.perso img {

    width: 59vh;
    height: 55vh;
    margin-top: 20px;
    margin-left: -30px;

}



.perso h2 {
    background-color: #D6D6D6;
    margin-top: -10px;
    margin-bottom: 0;
    border: solid #2FA1D1;
}

.lien {
    background-color: #2FA1D1;
    margin-top: 0;
    margin-bottom: 0;
    height: 20vh;
}

.lien img {
    width: 20%;
    margin-right: 50px;
    margin-top: 25px;
}

.interactif img {
    margin-right: 10px;
}

.remerciement {
    background-color: #046893;
    margin-top: -15px;
    height: 50vh;
    color: white;

}

.remerciement p {
    width: 80vw;
    margin-left: 50px;
    padding-top: 80px;
    font-size: 1.5rem;
    margin-top: 0;
}

@media screen and (max-width:1200) {
    .chara {
        display: flex;
        flex-direction: column;
    }
}