*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-image: url(medias/img/bg-audiovisuel.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.etude {
    margin-right: 80px;
}

.but {
    margin-right: 80px;
}

header {
    height: 100vh;
    width: 100vw;
}

header :nth-child(3) {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

header h1 {
    margin-top: 3.55%;
    font-weight: 800;
    margin-bottom: 0;
}

header :first-child {
    margin-top: 200px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 9.375rem;
    color: white;
}

.tdf {
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    width: 100vw;
    /* border: black solid; */
}

.intitule {
    display: inline-block;
    width: 35vw;
    left: 4vw;
    height: 98vh;
    /* border: black solid; */

}

main {
    color: white;
    position: absolute;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
    right: 4vw;
    display: none;
    opacity: 0;
    margin-top: 7%;
    height: 80vh;
    width: 57vw;
    padding-left: 0;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.0px);
    -webkit-backdrop-filter: blur(8.0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

main.active {
    display: inline-block;
    opacity: 1;
}

.info-detail {
    width: 60%;
    height: 100%;
    margin-left: 3%;
}

h2 {
    position: relative;
    font-size: 4rem;
    font-weight: 900;
    padding-left: 18%;
    color: #DC93FF;
    font-family: 'Raleway', sans-serif;
    padding-top: 25%;

}

li {
    margin-top: 3%;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    margin-bottom: 5%;
    margin-left: 60px;
    list-style-type: none;
    text-decoration: none;
}

li:hover {
    color: #DC93FF;
}

nav li {
    margin-top: 0;

}

.lien {
    text-decoration: none;
    background-color: #DC93FF;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 10px;
    left: 20%;
    transition: 0.8s ease-in-out;
    margin-top: 10px;
    margin-right: 20%;
    color: white;
    font-size: 1.25rem;
}

.lien:hover {
    color: #DC93FF;
    background-color: white;
}

h3 {
    position: relative;
    font-size: 1.45rem;
    color: #7e4d94;
    width: 100%;
    font-weight: 900;
    bottom: 30px;
    left: 100px;
    font-weight: 900;
}

.truc {
    font-size: 1.3rem;
    background: linear-gradient(transparent 40%, #DC93FF);
    width: 150px;
    font-weight: 800;
    /* transform: skew(5deg); */
}

main :nth-child(4) {
    margin-top: -10px;
    width: 30vw;
}

.type {
    position: relative;
    font-size: 1.3rem;
    background: linear-gradient(transparent 40%, #DC93FF);
    /* transform: skew(5deg); */
    max-width: 60px;
    top: 10px;
    font-weight: 800;

}

main :nth-child(6) {
    margin-top: 20px;
    width: 30vw;
    margin-left: 40px;
}

.deb {
    position: relative;
    bottom: 80px;
    left: 90px;
    font-size: 1.3rem;
    max-width: 110px;
    background: linear-gradient(transparent 30%, #DC93FF);
    font-weight: 800;
    /* transform: skew(5deg); */
}

.deb2 {
    position: relative;
    bottom: 90px;
    left: 130px;
    max-width: 300px;
}

main :nth-child(8) {
    position: relative;
    top: -100px;
    width: 20vw;
    left: 200px;
}

.eta {
    position: relative;
    font-size: 1.3rem;
    max-width: 10vw;
    background: linear-gradient(transparent 30%, #DC93FF);
    /* transform: skew(5deg); */
    margin-top: 40px;
    margin-left: -200px;
    font-weight: 800;
}

.etabli {
    position: relative;
    bottom: 120px;
}


main :nth-child(10) {
    margin-top: -10px;
    width: 30vw;
    margin-left: 30px;
}

.url {
    position: relative;
    font-size: 1.3rem;
    background: linear-gradient(transparent 30%, #DC93FF);
    max-width: 50px;
    /* transform: skew(5deg); */
    bottom: 100px;
    left: -30px;
    font-weight: 800;
}


main :nth-child(12) {
    margin-top: -10px;
    width: 30vw;
}

.exit {
    position: relative;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    pointer-events: visible;
    position: relative;
    left: 20px;
    opacity: 0.5;
    cursor: pointer;
    top: 40px;
}

.exit:hover {
    opacity: 1;
}

.exit:before,
.exit:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
}

.exit:before {
    transform: rotate(45deg);
}

.exit:after {
    transform: rotate(-45deg);
}

p.ligne {
    background-color: white;
    height: 55vh;
    width: 2px;
    position: absolute;
    left: 36vw;
    bottom: 2vh;
}

.video {
    position: absolute;
    left: 38vw;
}

.sans_video {
    position: absolute;
    left: 36.5vw;
    bottom: 15vh;
    border: black solid;
    padding-top: 78px;
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.267);
    color: black;
    font-size: 1.5rem;
    height: 15vh;
    width: 20vw;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
}

.link {
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 110px;

}

.link_text {
    position: relative;
    font-size: 1.5rem;
    bottom: 110px;

}

.timbre img {
    width: 30%;
    height: 30%;
    position: absolute;
    left: 73%;
    bottom: 65%;
}

@media screen and (max-width:1300px) {
    h1 {
        font-size: 8rem;
    }
}

@media screen and (max-width:1100px) {
    h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width:900px) {
    h1 {
        font-size: 4rem;
    }
}