body {
    background: #FAF8F8;
    text-align: center;
    min-width: 300px;
    font-family: sans-serif;
    color: #292925;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}







/* header pour illustration */

.bigheader {
    /* border: 1px solid green; */
    height: 105vh;
    background: url(medias/img/page_accueil_head.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}

.bigheader h2 {
    /* border: solid black; */
    font-size: 9rem;
    margin-top: -15px;
    padding-top: 30vh;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -20px;
}

.bigheader p {
    font-size: 3rem;
    padding-top: -30vh;
}


/* low header présentation + illustration */
.low-header {
    /* border: 1px solid blue; */
    display: flex;
    height: 730px;
    margin-bottom: 150px;
    margin-top: -50px;



}

.presentation {
    /* border: 1px solid brown; */
    width: 45%;
    height: 600px;
    margin-left: 100px;
    margin-top: 170px;
    font-size: 2rem;
}

.presentation h1 {
    font-size: 4rem;
    color: #2FA1D1;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-top: 110px;
}

.presentation p {
    text-align: justify;
    font-size: 1.25rem;
    margin-right: 20px;
    margin-top: 20px;
}

.ptt-image {
    /* border: 1px solid brown;*/
    width: 50vw;
    height: 560px;
    margin-right: 100px;
    margin-top: 170px;
    padding-left: 100px;
}

.ptt-image img {

    /* max-width: 100%; */
    width: 100%;

}

/* Main des 4 cartes */
main {
    /* border: 1px solid black; */
    margin-left: 7%;
    margin-right: 100px;
    width: 1300px;

}

section {
    /* border: 1px solid black; */
    height: 730px;
    width: 450px;
    display: inline-block;
    margin: 50px;
    vertical-align: top;
    border-radius: 30px 30px 30px 30px;

}



section .container {

    max-width: 100%;
    min-height: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.021);
    cursor: pointer;

}


.container:hover {

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.541);
    transform: scale(1.01);
    transition-duration: 1s;

}

.date h3 {
    /* border: solid black; */
    margin-left: 30px;
}




/* Formulaire prototype */
.formulaire {
    /* border: 1px solid black; */
    height: 700px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
}




/* ajout visuel header*/




/* ajout code carte */





.container {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    transition-duration: 0.5s;
    /* border: solid black; */
    height: 680px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35);
}


.littleheader {

    text-align: center;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 30px 30px 0px 0px;

}

.formheader {

    text-align: center;
    background-color: #025E73;
    padding-bottom: 30px;
    border-radius: 30px 30px 0px 0px;
}

.formheader h1 {

    color: white;
    letter-spacing: 1px;

}

.lh1 {

    background: #038C7F;

}

.lh1 h1 {

    padding-top: 15px;
    color: white;
    font-size: 40px;

}

p {
    font-size: 12px;
    margin: 5px 0px -10px 0px;
    letter-spacing: 1px;
}

.description {

    height: 140px;
    width: 370px;

}

.description p {
    color: #025E73;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    position: relative;
    left: 10px;
}

.description h4 {
    color: #676767;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
    position: relative;
    left: 40px;
}

h1 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    padding: 5px 0px 5px 0px;
    margin: 5px;
}

h2 {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.container .boardingPass {
    display: flex;
    flex-direction: column;
}

.footer {
    background: #FFFFFF;
}

.airports {
    display: flex;
    background: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}


.departing,
.arriving {
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

.boardingPass .details {
    display: flex;
    flex-direction: row;
}

.boardingPass .detail {
    position: relative;
    width: 33%;
    padding-top: 10px;
}


.plane {

    width: 50px;
    transform: rotate(45deg);

}


.arriving h1 {

    color: #025E73;
}

.arriving p {

    color: #025E73;
}

.departing h1 {

    color: #025E73;

}

.departing p {

    color: #025E73;

}

.number h4 {

    color: #676767;
    left: 25px;
    position: relative;

}



.date h4 {

    color: #676767;
    position: relative;
    left: -15px;
}

.gate h4 {

    color: #676767;

}


/*fin première carte*/

/*deuxième carte*/

.lh2 {


    background-color: #A60311;

}

.lh2 h1 {

    padding-top: 15px;
    color: white;
    font-size: 40px;

}

/*troisième carte*/

.lh3 {

    background-color: #2FA1D1;
    padding: 40px;

}

.lh3 h1 {

    padding-top: 10px;
    color: white;
    font-size: 40px;

}

/*quatrième carte*/

.lh4 {


    background-color: #F1C44F;

}

.lh4 h1 {

    padding-top: 15px;
    color: white;
    font-size: 40px;

}



input {


    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;

}

/*Formulaire*/

.formulaire .container {


    max-width: 100%;


}




/* contenu formulaire*/

.contentform {
    font-family: 'Roboto';
    max-width: 100%;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 0px;
    border-radius: 30px 30px 30px 30px;

}



.groupform {
    position: relative;
    margin-bottom: 30px;
    width: 500px;
    /* border: green solid; */
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}


label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
}



input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}


.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}



.formairport {

    display: flex;
    z-index: 1;
    flex-direction: row;
    /* border: black solid; */
    margin-top: 20px;
    width: 300px;
    text-align: left;
    float: right;


}

.formdeparting {

    position: relative;
    margin: 0 auto;
    padding: 0px;
}

.formdeparting p {

    text-align: center;

}

.formarriving {

    position: relative;
    margin: 0 auto;
    padding: 0px;
}

#buttonenvoi {

    background-color: #025E73;
    border-radius: 30px;
    width: 18vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {

    color: white;

}

.message {

    margin-left: -15px;

}


.message label {

    margin-top: -10px;
    margin-left: 10px;

}


.text {
    /* border: pink solid; */
    margin-top: 40px;
    margin-left: 15px;
    width: 730px;
}

textarea {
    resize: none;
}






@media screen and (max-width:1300px) {
    .text {
        width: 500px;
    }

    .formairport {
        margin-top: -50px;
    }

    .groupform {
        margin-top: 50px;
    }
}

@media screen and (max-width:1200px) {
    .text {
        width: 400px;
        margin-right: 500px;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-left: 25vw;
    }

    .presentation p {
        margin-left: -150px;
    }

    .ptt-image {
        height: 450px;
        margin-top: 50px;
        margin-left: 50px;
    }

    .low-header {
        display: flex;
        flex-direction: column;
        margin-left: 25vw;
        margin-bottom: 600px;
        margin-top: -50px;
    }
}

@media screen and (max-width:1000px) {
    .text {
        width: 250px;
        margin-right: 500px;
    }
}