*,
*::before,
*::after {
    box-sizing: border-box;
}


a {

    text-decoration: none;
    color: inherit;

}


nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 10;
    background-color: transparent;

}

nav .logo {

    position: relative;
    font-weight: 700;
    color: #2FA1D1;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: 'Raleway', sans-serif;
}

nav ul {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {

    position: relative;
    list-style: none;

}

nav ul li a {

    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #2FA1D1;
    letter-spacing: 2px;
    transition: 0.5s;

}

nav .sticky {

    padding: 5px 100px;
    background: #fff;

}